/abc while.php
/abcd 7.php
/count 5.php
/database
/database.php
/for szamok paratlan.php
/for szamok paros.php
/form post.php
/honapok.php
/js.html
/kep php.php
/message.php
/paros szamok osszeadasa.php
/sakktabla.php
/str_repeat.php
/table count.php
/tomb.php
/tomb2.php
/tomb3.php
/tomb4.php
/tomb5.php
/tomb6.php